@import '../../colors.css';

.route {

}

.mainContainer {
  padding: 0.5em;
}

.main {
  max-width: 50em;
  background: var(--dark-blue-color);
  border-radius: 1em;
  margin: 0 auto;
  border-top: 1px transparent solid;
  color: var(--white-color);
}
