@import '../../colors.css';

.about > * + * {
  margin: 1em auto;
}

.title {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: lighter;
  text-align: center;
  color: var(--white-color);
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background: var(--white-color);
}

.logoContainer img {
  /* The dimensions need to be set here precisely so that Lighthouse is satisfied */
  width: 7em;
  height: 7em;
}

.mainContainer {
  padding: 0.5em;
}

.main {
  max-width: 50em;
  margin: 0 auto;
  color: var(--white-color);
  border-top: 1px transparent solid;
  border-radius: 1em;
  background: var(--dark-blue-color);
}

.main p {
  font-size: 1.3em;
  padding: 0 1.5em 1em;
  text-align: center;
  color: var(--white-color);
  text-decoration: none;
}
