@import '../../colors.css';

.header > * + * {
  margin: 1em auto;
}

.title {
  color: var(--white-color);
  text-align: center;
  font-weight: lighter;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.logoContainer {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer img {
  /* TODO: set the dimensions here so Lighthouse is satisfied but the logo needs to be a square, */
  /* TODO: but the temporary one is not a square */
  /*width: 12em;*/
  /*height: 12em;*/
}

.searchContainer {
  margin: auto;
}

.letters {
  display: flex;
  font-size: 1.5rem;
  max-width: 25em;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.letters a {
  text-decoration: none;
  color: var(--white-color);
  font-weight: bold;
  padding: 0 0.375em;
  margin: 0 0.25em;
  vertical-align: center;
}

.activeLetter {
  background: var(--orange-color);
  border-radius: 0.375em;
}
