@import '../../colors.css';

.header > * + * {
  margin: 1em auto;
}

.title {
  color: var(--white-color);
  text-align: center;
  font-weight: lighter;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.logoContainer {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer img {
  /* The dimensions need to be set here precisely so that Lighthouse is satisfied */
  width: 7em;
  height: 7em;
}

.searchContainer {
  padding: 0 0.5em;
  margin: auto;
}

.letters {
  padding: 0 0.5em;
  display: flex;
  font-size: 1.5rem;
  max-width: 26em;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.letters .letter {
  text-decoration: none;
  color: var(--white-color);
  font-weight: bold;
  padding: 0 0.375em;
  margin: 0 0.25em;
  vertical-align: center;
}

.activeLetter {
  background: var(--orange-color);
  border-radius: 0.375em;
}
