@import '../../colors.css';

.title {
  color: var(--white-color);
  text-align: center;
  font-weight: lighter;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.logoContainer {
  margin: 0 auto 1em;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  margin: auto;
}
