@import '../../colors.css';

.queryForm {
  position: relative;
  max-width: 25em;
  margin: 0 auto;
}

.queryInput {
  display: block;
  border-radius: 1.5em;
  border: none;
  background: var(--almost-white-color);
  width: 100%;
  padding: 1em 1.5em;
  font-size: 1rem;
}

.queryInput.queryInputExpanded {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.queryInput:focus {
  outline: 0.125em solid var(--orange-color);
}

.runButton {
  font-size: 1rem;
  position: absolute;
  vertical-align: middle;
  top: 0;
  right: 0;
  bottom: 0;
  background: none;
  border: none;
  cursor: pointer;
  width: 3em;
  border-bottom-right-radius: 1.5em;
  border-top-right-radius: 1.5em;
}

.runButton::before {
  content: '';
  position: absolute;
  width: 0.125em;
  height: 2em;
  margin: auto;
  left: 0;
  bottom: 0;
  top: 0;
  background: var(--blue-color);
}

.runButton.runButtonExpanded {
  border-bottom-right-radius: 0;
}

.suggestions {
  width: 100%;
  position: absolute;
  visibility: hidden;
  border-top: 0.125em solid var(--orange-color);
  background: var(--almost-white-color);
  border-bottom-right-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  padding-top: 0.25em;
}

.suggestions.suggestionsExpanded {
  visibility: visible;
}

.suggestions button {
  position: relative;
  text-align: start;
  cursor: pointer;
  padding: .5em 1.5em .5em 1.5em;
  width: 100%;
  display: inherit;
  border: inherit;
  font: inherit;
  background: inherit;
}

.suggestions button:last-child {
  border-bottom-right-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  padding-bottom: 0.75em;
}

.suggestions .hovered {
  background: var(--orange-color);
}

.suggestions button::after {
  position: absolute;
  content: '📗'; /* green book emoji */
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 3em;
}
