@import '../../colors.css';

.queryForm {
  position: relative;
  max-width: 25em;
  margin: 0 auto;
}

.queryInput {
  display: block;
  border-radius: 2em / 2em;
  border: none;
  background: var(--almost-white-color);
  width: 100%;
  padding: 1em 1.5em;
  font-size: 1rem;
}

.queryInput:focus {
  outline: 0.125em solid var(--orange-color);
}

.runButton {
  position: absolute;
  vertical-align: middle;
  top: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  height: 4em;
  width: 4em;
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;
}
